{% extends 'base.html' %}

{% block title %}
Create Profile
{% endblock %}

{% block content %}
<body class="text-center" style="margin-top: 2rem; background: url('/static/images/bg2.jpg') no-repeat center center fixed; background-size: cover;">
    <div class="container" id="form-register">
        <h3 class="text-black">Getting Started</h3>
        <h4>Create Your Profile</h4>
        <form method="POST" class="form-register" enctype="multipart/form-data" style="color:black; width:50%; margin:auto;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Profile</button>
    </div>
</body>
{% endblock %}
